!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Gruvbox Material Dark
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! *background: #1d2021
! medium
*background: #282828
! soft
! *background: #32302f

*foreground: #d4be98

! Black + DarkGrey
*color0:  #32302f
*color8:  #32302f
! DarkRed + Red
*color1:  #ea6962
*color9:  #ea6962
! DarkGreen + Green
*color2:  #a9b665
*color10: #a9b665
! DarkYellow + Yellow
*color3:  #e78a4e
*color11: #e78a4e
! DarkBlue + Blue
*color4:  #7daea3
*color12: #7daea3
! DarkMagenta + Magenta
*color5:  #d3869b
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #89b482
*color14: #89b482
! LightGrey + White
*color7:  #d4be98
*color15: #d4be98
