@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fk01gm');
  src:  url('fonts/icomoon.eot?fk01gm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fk01gm') format('truetype'),
    url('fonts/icomoon.woff?fk01gm') format('woff'),
    url('fonts/icomoon.svg?fk01gm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-valorant:before {
  content: "\e902";
}
.icon-steinsgate:before {
  content: "\e905";
}
.icon-harry:before {
  content: "\e90b";
}
.icon-fsociety:before {
  content: "\e90c";
}
.icon-esdeath:before {
  content: "\e90d";
}
.icon-berserk:before {
  content: "\e90e";
}
.icon-cloud-border:before {
  content: "\e903";
}
.icon-cloud-fill:before {
  content: "\e904";
}
.icon-majin:before {
  content: "\e901";
}
.icon-xana:before {
  content: "\e900";
  color: #fff;
}
